<div class="team-container">
  <div class="team">
    <img src="<%= image_path('nicb.png') %>" alt="nic" class="nicb">
    <% @teams.each do |team| %>

      <div class='name'>
        <%= team.name %>
      </div>

      <div class='description'>
        <%= team.description %>
      </div>

    <% end %>
  </div>
</div>