<div class="team-cont">
  <% @teams.each do |team| %>
  <%# <input type="image" class="image"> %>
    <div class="team">
      <div class='name'>
        <%= team.name %>
      </div>
      <div class='description'>
        <%= team.description %>
      </div>
    </div>
  <% end %>
</div>