<div class="big-footer">
  <div>
    <strong class="footer">NicBlendz, Barber Shop</strong>
    <p class="footer">Schönebergerstr. 123 <br>12345 Berlin</p>
  </div>

  <div>
    <strong class="footer">opening days</strong>
    <p class="footer">Mon - closed <br>
        Tue. - Wed.  09:00 - 8:00 pm <br>
        Thurs. - Fri.  09:00 - 8:00 pm <br>
        Sat. - 09:00 -  8:00 pm
    </p>
  </div>
</div>