<div>
  <div class="vido" data-controller="slowed-video">
    <%= video_tag "nicblendz.mp4", autoplay: true, loop: true, oncanplay: "this.muted=true", class: "vid", data: { slowed_video_target: "video" } %>
  </div>
</div>
