.footer {
    color: white;
    font-size: 13px;
}

.big-footer {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    background: linear-gradient(to bottom, rgba(180, 129, 1, 0.783), black);
}
